<div class="button-row">
  <button title="Upload files" mat-icon-button color="primary"
          (click)="fileSelect.click()">
    <mat-icon>      add_photo_alternate</mat-icon>

  </button>
  <div class="divider"></div>
  <button title="Upload folder" mat-icon-button color="primary"
          (click)="folderSelect.click()">
    <mat-icon>drive_folder_upload </mat-icon>
</button>

  <div class="divider"></div>
  <button title="Upload multiple internet urls" mat-icon-button (click)="addInternetUrls()" color="primary">
    <mat-icon>library_add</mat-icon>
  </button>

  <div class="divider"></div>
  <button title="Clear reel" mat-icon-button (click)="clearReel()" color="primary">
    <mat-icon>clear</mat-icon>
  </button>

  <div class="divider"></div>

  <button title="Start playing reel" mat-icon-button color="primary" (click)="saveReel()">
    <mat-icon>play_arrow</mat-icon>
  </button>

  <input type="text" autocomplete="off" class="globalInput" id="globalInput" placeholder="global time" />

  <button title="Randomize image order" mat-icon-button [color]="randomizeButton" [ngClass]="isRandom() ? 'active' : 'unactive'" (click)="randomize()">
    <mat-icon>shuffle</mat-icon>
  </button>
</div>

<input onclick="this.value=null;" accept="image/" #fileSelect type="file" style="display: none;" multiple
       (change)="onFileSelected($event)">
<input onclick="this.value=null;" accept="image/" #folderSelect type="file" style="display: none;" (change)="onFileSelected($event)" webkitdirectory multiple />



<div class="btn-group ml-3" [sortablejs]="images">
  <button tabindex="-1" type="button" class="btn btn-secondary" *ngFor="let image of images; let i = index;">
    <div class="delete-top-div">
      <button class="deleteButton" title="Delete image" mat-icon-button (click)="deleteImage(i)" color="primary">
        <mat-icon class="deleteIcon">clear</mat-icon>
      </button>

    </div>
   

    <img class="table-image" [src]="image" [attr.id]="i" />
    <br />
    <input onClick="this.select();" [ngClass]="!error ? 'normal' : 'error'" class="input1" placeholder="seconds" type="text" [attr.id]="'input' +i" />
  </button>

</div>
