<div class="example-button-row">
  <button mat-raised-button color="primary"
          (click)="fileSelect.click()">
    Upload images
  </button>
  <div class="divider"></div>
  <button mat-raised-button color="primary"
          (click)="folderSelect.click()">
    Select Folder
  </button>

  <div class="divider"></div>
  <button title="clear reel" mat-icon-button (click)="clearReel()" color="primary">
    <mat-icon>clear</mat-icon>
  </button>

  <div class="divider"></div>

  <button mat-raised-button color="primary" (click)="saveReel()">
    Start reel
  </button>

  <input type="text" autocomplete="off" class="globalInput" id="globalInput" placeholder="global time" />

  <button title="randomize"mat-icon-button [color]="randomizeButton" [ngClass]="isRandom() ? 'unactive' : 'active'" (click)="randomize()">
    <mat-icon>shuffle</mat-icon>
  </button>
</div>

<input onclick="this.value=null;" accept="image/" #fileSelect type="file" style="display: none;" multiple
       (change)="onFileSelected($event)">
<input onclick="this.value=null;" accept="image/" #folderSelect type="file" style="display: none;" (change)="onFolderSelected($event)" webkitdirectory multiple />
<img src="" id="output" />



<div class="btn-group ml-3" [sortablejs]="images">
  <button tabindex="-1" type="button" class="btn btn-secondary" *ngFor="let image of images; let i = index;">
    <img class="table-image" [src]="image" [attr.id]="i" />
    <br />
    <input onClick="this.select();" [ngClass]="!error ? 'normal' : 'error'" class="input1" placeholder="seconds" type="text" [attr.id]="'input' +i" />
  </button>

</div>
