#fileSelect {
  display: none;
}

.table-image {
  max-width: 20vh;
  max-height: 20vh;
}
.normal{ 
}

.error {
  border-color: red;
}

.image-display-button{
    padding: 0;
}
.unactive {
  opacity: 30%;
}
.delete-top-div{
    position:sticky;
    width: 100%;
    text-align: end;
    height:10%;
}
.active{
}

.deleteIcon {
  box-shadow: 0px 0px 1px rgb(34 34 34 / 60%);
  background-color: white;
}

.deleteButton {
  height: 20px !important;
  width: 20px !important;
  position: relative;
}
.input1{
    max-width: 20vh;
}
.globalInput{
   margin-left: 1vh;
}
.button-row {
  display: flex;
  padding: 1vh;
}

.mat-icon-button {
  height: 24px !important;
  width: 24px !important;
  line-height: 0.7;
}
.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
