#fileSelect {
  display: none;
}

.table-image {
  max-width: 20vh;
  max-height: 20vh;
}
.normal{

}

.error{
   border-color: red;
}
.input1{
    max-width: 20vh;
}
.globalInput{
   margin-left: 1vh;
}
.example-button-row {
  display: flex;
  padding: 1vh;
}

.button-normal{
    padding: 10px;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

btn btn-secondary sortable-chosen{

}
