<span *ngIf="started" class="header">

  <button class="boton" (click)="goBack()" color="primary">
    <mat-icon [inline]="true">arrow_back</mat-icon>
  </button>
  <span class="divider"></span>

  <button class="timer-button">
    {{remainingTime}}
  </button>
  <span class="divider"></span>


  <button class="boton" [disabled]="paused || numeroImagenActual == 0" (click)="previous()" color="primary">
    <mat-icon [inline]="true">skip_previous</mat-icon>
  </button>

  <button class="boton" (click)="playButton()" color="primary">
    <mat-icon [inline]="true">{{icon}}</mat-icon>
  </button>
  <button class="boton" [disabled]="paused " (click)="next()" color="primary">
    <mat-icon [inline]="true">skip_next</mat-icon>
  </button>

</span>

<div class="example-button-row" *ngIf="!started">
  <button mat-raised-button color="primary"
          (click)="start()">
    Start Session
  </button>
</div>
<div class="divImagen">
  <img class="imagen" [src]="imagenActual"><img>
</div>

