.imagen {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;


}
.header {
  position: absolute;
  z-index: 5;
  background-color: white;

}

.smaller-button {
  cursor: pointer;
  height: 19.2px !important;
  width: 19.2px !important;
}

  .smaller-button:hover {
    cursor: pointer;
    height: 19.2px !important;
    width: 19.2px !important;
    opacity:70 !important;
  }

button:disabled {
  opacity: 50 !important;
}

.smaller-button-timer {
  cursor: pointer;
  height: 19.2px !important;
  width: 19.2px !important;
  vertical-align: middle;
}

.smaller-icon {
  transform: scale(0.7);
}


.timer-header {
  z-index: 5;
  padding: 1vh;
  margin-left: 4vh;
}

.mat-icon-button {
  line-height: 0.7;
}

.second-row{

}

.timer-button {
  font-weight: bold;
  color: #3f51b5;
  border: none;
  z-index: 5;
  vertical-align: middle;
  cursor: default; 
}
.start-button {
  position: absolute;
  display: flex;
  padding: 1vh;
}

.player-button {
  background-color: #3f51b5;
  color: white;
  border: none;
  z-index: 5;
  text-align: center;
 
}

.divImagen {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
}
