<div *ngIf="started" class="header">

  <button mat-icon-button class="smaller-button" (click)="goBack()" color="primary">
    <mat-icon class="smaller-icon">arrow_back</mat-icon>
  </button>
  <button mat-icon-button class="smaller-button" [disabled]="paused || numeroImagenActual == 0" (click)="previous()" color="primary">
    <mat-icon class="smaller-icon">skip_previous</mat-icon>
  </button>

  <button (keyup.enter)="playButton()" mat-icon-button class="smaller-button" (click)="playButton()" color="primary">
    <mat-icon class="smaller-icon">{{icon}}</mat-icon>
  </button>

  <button mat-icon-button class="smaller-button" [disabled]="paused " (click)="next()" color="primary">
    <mat-icon class="smaller-icon">skip_next</mat-icon>
  </button>
  <button mat-icon-button class="smaller-button-timer" color="primary">
    {{remainingTime}}
  </button>

</div>

<div class="example-button-row" *ngIf="!started">
  <button mat-raised-button color="primary"
          (click)="start()">
    Start Session
  </button>
</div>
<div class="divImagen">
  <img class="imagen" [src]="imagenActual"><img>
</div>

