<span *ngIf="started" class="header">
  <button class="timer-button">
    {{remainingTime}}
  </button>
  <span class="divider"></span>
  <span>
    <button class="boton" (click)="playButton()" color="primary">
      <mat-icon>{{icon}}</mat-icon>
    </button>
   
  </span>

</span>

<div class="example-button-row" *ngIf="!started">
  <button mat-raised-button color="primary"
          (click)="start()">
    Start Session
  </button>
</div>
<div class="divImagen">
  <img class="imagen" [src]="imagenActual"><img>
</div>

